{% extends "padre.html" %} 
{% load static %} 
{% block contenidoQueCambia %}

    {% if Mensaje %}  
        {{Mensaje}} 
    {% endif %}  
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-7">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0 mt-3">Editar Usuario</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="form-floating mb-3"></div>
                <table class="form-floating mb-3">

                    {{form.as_table}}

                </table>

                <input class="btn btn-primary btn-xl" type="submit" value="Editar">
                <div class="form-floating mb-3"></div>
            </form>
            <a class="btn btn-primary btn-xl" href="{% url 'Editar Contraseña' %}">Cambiar Contraseña</a>
        </div>
    </div>
{% endblock %}