<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if Mensaje %}  
        {{Mensaje}} 
    {% endif %} 
    
    INICIO

    <div class="container"></div>
        {% if request.user.is_authenticated %}
        <div class="container">
        <li class="nav-item">
            <span class="text-light"> Hola <strong>{{request.user.first_name}}</strong>!</span>
            <a href="{% url 'Agregar Negocio' request.user.pk %}"><i class="bi bi-trash text-danger"></i>Agregar Negocio</a>
        </li>
        {% endif %}
    </div>
</body>
</html>