{% extends "padre.html" %} 
{% load static %} 
{% block contenidoQueCambia %}
    {% if Mensaje %}  
        {{Mensaje}} 
    {% endif %} 

    <div class="container"></div>
        {% if request.user.is_authenticated %}
        <div class="container">
        <li class="nav-item">
            <span class="text-light"> Hola <strong>{{request.user.first_name}}</strong>!</span>
            <a href="{% url 'Agregar Negocio' request.user.pk %}"><i class="bi bi-trash text-danger"></i>Agregar Negocio</a>
            <a href="{% url 'Editar Usuario' %}"><i class="bi bi-trash text-danger"></i>Agregar Negocio</a>
        </li>
        {% endif %}
    </div>
{% endblock %}