<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        NEGOCIOS
        <div class="row">
            {% for negocio in negocios %}
            <div class="col-sm-6 align-items-center">
                <div class="card-body">
                <!--<img src="AppDirectorio/imagenes/{{negocio.imagen_negocio}}" class="" width="100px">-->
                {{negocio.nombre_negocio}}
                <a href="{% url 'Detalle Negocio' negocio.id %}"><i class="bi bi-eye"></i>detalle</a>
                {% if user.id == negocio.usuario.id %}
                <a href="{% url 'Editar Negocio' negocio.id %}"><i class="bi bi-pencil-fill"></i>editar</a>
                <a href="{% url 'Eliminar Negocio' negocio.id %}"><i class="bi bi-trash text-danger"></i>eliminar</a>
                <br>
                {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>